#logo{
    width:150px;
    height:150px;
}
#primeiro_terco{
    display: inline-block;
}
#segundo_terco{
    display: inline-block;
    padding: 100px;
}
#terceiro_terco{
    display: inline-block;
    padding: 100px;
}